<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;800;900&family=Ubuntu:wght@300;500;700&display=swap" rel="stylesheet">
<title>Diagnóstico Específico</title>
</head>
<body>
    <div class="navbar" id="navbar-despecifico">
        <a href="index.html">
            <div class="navbar-option"><b>Inicio</b></div>
        </a>
        <a href="dgeneral.html">
            <div class="navbar-option"><b>Diagnóstico General</b></div>
        </a>
        <a href="">
            <div class="navbar-option"><b>Módulo Precargado</b></div>
        </a>
    </div>

    
    <h1><b>Diagnóstico Específico</b></h1>

    <form action="">

        <div class="question-container">
            <p>Selecciona dos o más enfermedades de la lista:</p>

            <div class="check-option">
                <input type="checkbox" name="enfermedades" id="enfCloasmaMelasma">
                <label for="enfCloasmaMelasma">Cloasma / Melasma</label>
            </div>

            <div class="check-option">
                <input type="checkbox" name="enfermedades" id="enfPoiderma">
                <label for="enfPoiderma">Poiderma</label>
            </div>

            <div class="check-option">
                <input type="checkbox" name="enfermedades" id="enfDermatitis">
                <label for="enfDermatitis">Dermatitis</label>
            </div>

            <div class="check-option">
                <input type="checkbox" name="enfermedades" id="enfCelulitis">
                <label for="enfCelulitis">Celulitis</label>
            </div>

            <div class="check-option">
                <input type="checkbox" name="enfermedades" id="enfEczema">
                <label for="enfEczema">Eczema</label>
            </div>

            <div class="check-option">
                <input type="checkbox" name="enfermedades" id="enfUrticaria">
                <label for="enfUrticaria">Urticaria</label>
            </div>

            <div class="check-option">
                <input type="checkbox" name="enfermedades" id="enfPsoriasis">
                <label for="enfPsoriasis">Psoriasis</label>
            </div>

            <div class="check-option">
                <input type="checkbox" name="enfermedades" id="enfCancPiel">
                <label for="enfCancPiel">Cáncer de Piel</label>
            </div>

            <div class="check-option">
                <input type="checkbox" name="enfermedades" id="enfAcne">
                <label for="enfAcne">Acné</label>
            </div>

            <div class="check-option">
                <input type="checkbox" name="enfermedades" id="enfVitiligo">
                <label for="enfVitiligo">Vitiligo</label>
            </div>
        </div>




        <div class="container-range">
            <p>¿Qué cantidad de manchas marrones presentas?</p>
            <div class="range-img-container">
                <img src="img/face_01.png" alt="">
                <img src="img/face_02.png" alt="">
                <img src="img/face_03.png" alt="">
                <img src="img/face_04.png" alt="">
                <img src="img/face_05.png" alt="">
            </div>
            <input type="range" name="manchasMarrones" id="manchasMarrones" value="0" max="10" step="0.5">
        </div>




        <div class="container-range">
            <p>¿Qué cantidad de manchas blancas presentas?</p>
            <div class="range-img-container">
                <img src="img/face_01.png" alt="">
                <img src="img/face_02.png" alt="">
                <img src="img/face_03.png" alt="">
                <img src="img/face_04.png" alt="">
                <img src="img/face_05.png" alt="">
            </div>
            <input type="range" name="manchasMarrones" id="manchasMarrones" value="0" max="10" step="0.5">
        </div>




        <div class="container-range">
            <p>¿Qué cantidad de manchas rojas presentas?</p>
            <div class="range-img-container">
                <img src="img/face_01.png" alt="">
                <img src="img/face_02.png" alt="">
                <img src="img/face_03.png" alt="">
                <img src="img/face_04.png" alt="">
                <img src="img/face_05.png" alt="">
            </div>
            <input type="range" name="manchasMarrones" id="manchasMarrones" value="0" max="10" step="0.5">
        </div>




        <div class="container-range">
            <p>¿Qué cantidad de descamación de la piel presentas?</p>
            <div class="range-img-container">
                <img src="img/face_01.png" alt="">
                <img src="img/face_02.png" alt="">
                <img src="img/face_03.png" alt="">
                <img src="img/face_04.png" alt="">
                <img src="img/face_05.png" alt="">
            </div>
            <input type="range" name="manchasMarrones" id="manchasMarrones" value="0" max="10" step="0.5">
        </div>




        <div class="container-range">
            <p>Si presentas sangrado, ¿qué cantidad de dolor sientes?</p>
            <div class="range-img-container">
                <img src="img/face_01.png" alt="">
                <img src="img/face_02.png" alt="">
                <img src="img/face_03.png" alt="">
                <img src="img/face_04.png" alt="">
                <img src="img/face_05.png" alt="">
            </div>
            <input type="range" name="manchasMarrones" id="manchasMarrones" value="0" max="10" step="0.5">
        </div>




        <div class="container-range">
            <p>Si presentas picazón, ¿qué cantidad de dolor sientes?</p>
            <div class="range-img-container">
                <img src="img/face_01.png" alt="">
                <img src="img/face_02.png" alt="">
                <img src="img/face_03.png" alt="">
                <img src="img/face_04.png" alt="">
                <img src="img/face_05.png" alt="">
            </div>
            <input type="range" name="manchasMarrones" id="manchasMarrones" value="0" max="10" step="0.5">
        </div>




        <div class="container-range">
            <p>¿Qué cantidad de lunares presentas?</p>
            <div class="range-img-container">
                <img src="img/face_01.png" alt="">
                <img src="img/face_02.png" alt="">
                <img src="img/face_03.png" alt="">
                <img src="img/face_04.png" alt="">
                <img src="img/face_05.png" alt="">
            </div>
            <input type="range" name="manchasMarrones" id="manchasMarrones" value="0" max="10" step="0.5">
        </div>




        <div class="container-range">
            <p>Si presentas ampollas, ¿qué cantidad de dolor sientes?</p>
            <div class="range-img-container">
                <img src="img/face_01.png" alt="">
                <img src="img/face_02.png" alt="">
                <img src="img/face_03.png" alt="">
                <img src="img/face_04.png" alt="">
                <img src="img/face_05.png" alt="">
            </div>
            <input type="range" name="manchasMarrones" id="manchasMarrones" value="0" max="10" step="0.5">
        </div>




        <div class="container-range">
            <p>¿Qué cantidad de hongos en la piel presentas?</p>
            <div class="range-img-container">
                <img src="img/face_01.png" alt="">
                <img src="img/face_02.png" alt="">
                <img src="img/face_03.png" alt="">
                <img src="img/face_04.png" alt="">
                <img src="img/face_05.png" alt="">
            </div>
            <input type="range" name="manchasMarrones" id="manchasMarrones" value="0" max="10" step="0.5">
        </div>




        <div class="container-range">
            <p>¿Qué cantidad de sudoración presentas?</p>
            <div class="range-img-container">
                <img src="img/face_01.png" alt="">
                <img src="img/face_02.png" alt="">
                <img src="img/face_03.png" alt="">
                <img src="img/face_04.png" alt="">
                <img src="img/face_05.png" alt="">
            </div>
            <input type="range" name="manchasMarrones" id="manchasMarrones" value="0" max="10" step="0.5">
        </div>




        <div class="container-range">
            <p>¿Qué cantidad de inflamación presentas?</p>
            <div class="range-img-container">
                <img src="img/face_01.png" alt="">
                <img src="img/face_02.png" alt="">
                <img src="img/face_03.png" alt="">
                <img src="img/face_04.png" alt="">
                <img src="img/face_05.png" alt="">
            </div>
            <input type="range" name="manchasMarrones" id="manchasMarrones" value="0" max="10" step="0.5">
        </div>




        <div class="container-range">
            <p>¿Qué cantidad de piel seca presentas?</p>
            <div class="range-img-container">
                <img src="img/face_01.png" alt="">
                <img src="img/face_02.png" alt="">
                <img src="img/face_03.png" alt="">
                <img src="img/face_04.png" alt="">
                <img src="img/face_05.png" alt="">
            </div>
            <input type="range" name="manchasMarrones" id="manchasMarrones" value="0" max="10" step="0.5">
        </div>




        <div class="container-range">
            <p>Si presentas piel gangrenada ¿qué cantidad de dolor sientes?</p>
            <div class="range-img-container">
                <img src="img/face_01.png" alt="">
                <img src="img/face_02.png" alt="">
                <img src="img/face_03.png" alt="">
                <img src="img/face_04.png" alt="">
                <img src="img/face_05.png" alt="">
            </div>
            <input type="range" name="manchasMarrones" id="manchasMarrones" value="0" max="10" step="0.5">
        </div>




        <div class="container-range">
            <p>¿Qué cantidad de granos con sebo presentas?</p>
            <div class="range-img-container">
                <img src="img/face_01.png" alt="">
                <img src="img/face_02.png" alt="">
                <img src="img/face_03.png" alt="">
                <img src="img/face_04.png" alt="">
                <img src="img/face_05.png" alt="">
            </div>
            <input type="range" name="manchasMarrones" id="manchasMarrones" value="0" max="10" step="0.5">
        </div>




        <div class="container-range">
            <p>¿Qué cantidad de ronchas presentas?</p>
            <div class="range-img-container">
                <img src="img/face_01.png" alt="">
                <img src="img/face_02.png" alt="">
                <img src="img/face_03.png" alt="">
                <img src="img/face_04.png" alt="">
                <img src="img/face_05.png" alt="">
            </div>
            <input type="range" name="manchasMarrones" id="manchasMarrones" value="0" max="10" step="0.5">
        </div>




        <div class="separator"></div>
        <input type="submit" value="Diagnosticar" id="submit-especifico">
    </form>

    <footer></footer>
</body>