<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;800;900&family=Ubuntu:wght@300;500;700&display=swap" rel="stylesheet">
    <title>Diagnóstico General</title>
</head>
<body>
    <div class="navbar" id="navbar-dgeneral">
        <a href="/">
            <div class="navbar-option"><b>Inicio</b></div>
        </a>
        <a href="/Diagnostico-Especifico">
            <div class="navbar-option"><b>Diagnóstico Específico</b></div>
        </a>
        <a href="">
            <div class="navbar-option"><b>Módulo Precargado</b></div>
        </a>
    </div>

    
    <h1><b>Diagnóstico General</b></h1>

    <form action="/Resultados-Diagnostico-General" method="POST">

        <div class="question-container">
            <p>1. ¿Presentas manchas marrones?</p>
            
            <div class="radio-option">
                <input type="radio" name="manchasMarrones" id="manchasMarrones" value="0">
                <label for="manchasMarronesNada">Nada</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="manchasMarrones" id="manchasMarrones" value="0.5">
                <label for="manchasMarronesPoco">Poco</label>
            </div>


            <div class="radio-option">
                <input type="radio" name="manchasMarrones" id="manchasMarrones" value="1">
                <label for="manchasMarronesMucho">Mucho</label>
            </div>

        </div>



        <div class="question-container">
            <p>2. ¿Presentas manchas blancas?</p>
            
            <div class="radio-option">
                <input type="radio" name="manchasBlancas" id="manchasBlancasNada" value="0">
                <label for="manchasBlancasNada">Nada</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="manchasBlancas" id="manchasBlancasPoco" value="0.5">
                <label for="manchasBlancasPoco">Poco</label>
            </div>


            <div class="radio-option">
                <input type="radio" name="manchasBlancas" id="manchasBlancasMucho" value="1">
                <label for="manchasBlancasMucho">Mucho</label>
            </div>

        </div>



        <div class="question-container">
            <p>3. ¿Presentas manchas rojas?</p>
            
            <div class="radio-option">
                <input type="radio" name="manchasRojas" id="manchasRojasNada" value="0">
                <label for="manchasRojasNada">Nada</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="manchasRojas" id="manchasRojasPoco" value="0.5">
                <label for="manchasRojasPoco">Poco</label>
            </div>


            <div class="radio-option">
                <input type="radio" name="manchasRojas" id="manchasRojasMucho" value="1">
                <label for="manchasRojasMucho">Mucho</label>
            </div>

        </div>



        <div class="question-container">
            <p>4. ¿Presentas descamación de la piel?</p>
            
            <div class="radio-option">
                <input type="radio" name="descamacion" id="descamacionNada" value="0">
                <label for="descamacionNada">Nada</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="descamacion" id="descamacionAlgo" value="0.25">
                <label for="descamacionAlgo">Algo</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="descamacion" id="descamacionPoco" value="0.5">
                <label for="descamacionPoco">Poco</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="descamacion" id="descamacionBastante" value="0.75">
                <label for="descamacionBastante">Bastante</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="descamacion" id="descamacionMucho" value="1">
                <label for="descamacionMucho">Mucho</label>
            </div>

        </div>



        <div class="question-container">
            <p>5. ¿Presentas sangrado de la piel?... Si es así, ¿Cuánto dolor sientes?</p>
            
            <div class="radio-option">
                <input type="radio" name="dolorSangrado" id="dolorSangrado_SinDolor" value="0">
                <label for="dolorSangrado_SinDolor">Sin Dolor</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="dolorSangrado" id="dolorSangrado_DolorLeve" value="0.2">
                <label for="dolorSangrado_DolorLeve">Dolor leve</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="dolorSangrado" id="dolorSangrado_DolorModer" value="0.4">
                <label for="dolorSangrado_DolorModer">Dolor moderado</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="dolorSangrado" id="dolorSangrado_DolorInt" value="0.6">
                <label for="dolorSangrado_DolorInt">Dolor intenso</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="dolorSangrado" id="dolorSangrado_DolorMuyInt" value="0.8">
                <label for="dolorSangrado_DolorMuyInt">Dolor muy intenso</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="dolorSangrado" id="dolorSangrado_DolorInsp" value="1">
                <label for="dolorSangrado_DolorInsp">Dolor insoportable</label>
            </div>

        </div>


        



        <div class="question-container">
            <p>6. ¿Presentas picazón?... Si es así, ¿Cuánto dolor sientes?</p>
            
            <div class="radio-option">
                <input type="radio" name="dolorPicazon" id="dolorPicazon_SinDolor" value="0">
                <label for="dolorPicazon_SinDolor">Sin Dolor</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="dolorPicazon" id="dolorPicazon_DolorLeve" value="0.2">
                <label for="dolorPicazon_DolorLeve">Dolor leve</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="dolorPicazon" id="dolorPicazon_DolorModer" value="0.4">
                <label for="dolorPicazon_DolorModer">Dolor moderado</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="dolorPicazon" id="dolorPicazon_DolorInt" value="0.6">
                <label for="dolorPicazon_DolorInt">Dolor intenso</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="dolorPicazon" id="dolorPicazon_DolorMuyInt" value="0.8">
                <label for="dolorPicazon_DolorMuyInt">Dolor muy intenso</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="dolorPicazon" id="dolorPicazon_DolorInsp" value="1">
                <label for="dolorPicazon_DolorInsp">Dolor insoportable</label>
            </div>

        </div>



        <div class="question-container">
            <p>7. ¿Presentas lunares?</p>
            
            <div class="radio-option">
                <input type="radio" name="lunares" id="lunaresNada" value="0">
                <label for="lunaresNada">Nada</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="lunares" id="lunaresPoco" value="0.5">
                <label for="lunaresPoco">Poco</label>
            </div>


            <div class="radio-option">
                <input type="radio" name="lunares" id="lunaresMucho" value="1">
                <label for="lunaresMucho">Mucho</label>
            </div>

        </div>


        



        <div class="question-container">
            <p>8. ¿Presentas ampollas?... Si es así, ¿Cuánto dolor sientes?</p>
            
            <div class="radio-option">
                <input type="radio" name="dolorAmpollas" id="dolorAmpollas_SinDolor" value="0">
                <label for="dolorAmpollas_SinDolor">Sin Dolor</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="dolorAmpollas" id="dolorAmpollas_DolorLeve" value="0.2">
                <label for="dolorAmpollas_DolorLeve">Dolor leve</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="dolorAmpollas" id="dolorAmpollas_DolorModer" value="0.4">
                <label for="dolorAmpollas_DolorModer">Dolor moderado</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="dolorAmpollas" id="dolorAmpollas_DolorInt" value="0.6">
                <label for="dolorAmpollas_DolorInt">Dolor intenso</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="dolorAmpollas" id="dolorAmpollas_DolorMuyInt" value="0.8">
                <label for="dolorAmpollas_DolorMuyInt">Dolor muy intenso</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="dolorAmpollas" id="dolorAmpollas_DolorInsp" value="1">
                <label for="dolorAmpollas_DolorInsp">Dolor insoportable</label>
            </div>

        </div>



        <div class="question-container">
            <p>9. ¿Presentas hongos?</p>
            
            <div class="radio-option">
                <input type="radio" name="hongos" id="hongosNada" value="0">
                <label for="hongosNada">Nada</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="hongos" id="hongosAlgo" value="0.2">
                <label for="hongosAlgo">Algo</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="hongos" id="hongosPoco" value="0.5">
                <label for="hongosPoco">Poco</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="hongos" id="hongosBastante" value="0.8">
                <label for="hongosBastante">Bastante</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="hongos" id="hongosMucho" value="1">
                <label for="hongosMucho">Mucho</label>
            </div>

        </div>



        <div class="question-container">
            <p>10. ¿Presentas sudoración?</p>
            
            <div class="radio-option">
                <input type="radio" name="sudoracion" id="sudoracionNada" value="0">
                <label for="sudoracionNada">Nada</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="sudoracion" id="sudoracionAlgo" value="0.25">
                <label for="sudoracionAlgo">Algo</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="sudoracion" id="sudoracionPoco" value="0.5">
                <label for="sudoracionPoco">Poco</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="sudoracion" id="sudoracionBastante" value="0.75">
                <label for="sudoracionBastante">Bastante</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="sudoracion" id="sudoracionMucho" value="1">
                <label for="sudoracionMucho">Mucho</label>
            </div>

        </div>



        <div class="question-container">
            <p>11. ¿Presentas inflamación?</p>
            
            <div class="radio-option">
                <input type="radio" name="inflamacion" id="inflamacionNada" value="0">
                <label for="inflamacionNada">Nada</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="inflamacion" id="inflamacionAlgo" value="0.25">
                <label for="inflamacionAlgo">Algo</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="inflamacion" id="inflamacionPoco" value="0.5">
                <label for="inflamacionPoco">Poco</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="inflamacion" id="inflamacionBastante" value="0.75">
                <label for="inflamacionBastante">Bastante</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="inflamacion" id="inflamacionMucho" value="1">
                <label for="inflamacionMucho">Mucho</label>
            </div>

        </div>



        <div class="question-container">
            <p>12. ¿Presentas piel seca?</p>
            
            <div class="radio-option">
                <input type="radio" name="pielSeca" id="pielSecaNada" value="0">
                <label for="pielSecaNada">Nada</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="pielSeca" id="pielSecaAlgo" value="0.25">
                <label for="pielSecaAlgo">Algo</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="pielSeca" id="pielSecaPoco" value="0.5">
                <label for="pielSecaPoco">Poco</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="pielSeca" id="pielSecaBastante" value="0.75">
                <label for="pielSecaBastante">Bastante</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="pielSeca" id="pielSecaMucho" value="1">
                <label for="pielSecaMucho">Mucho</label>
            </div>

        </div>


        



        <div class="question-container">
            <p>13. ¿Presentas piel gangrena?... Si es así, ¿Cuánto dolor sientes?</p>
            
            <div class="radio-option">
                <input type="radio" name="dolorGangrena" id="dolorGangrena_SinDolor" value="0">
                <label for="dolorGangrena_SinDolor">Sin Dolor</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="dolorGangrena" id="dolorGangrena_DolorLeve" value="0.2">
                <label for="dolorGangrena_DolorLeve">Dolor leve</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="dolorGangrena" id="dolorGangrena_DolorModer" value="0.4">
                <label for="dolorGangrena_DolorModer">Dolor moderado</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="dolorGangrena" id="dolorGangrena_DolorInt" value="0.6">
                <label for="dolorGangrena_DolorInt">Dolor intenso</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="dolorGangrena" id="dolorGangrena_DolorMuyInt" value="0.8">
                <label for="dolorGangrena_DolorMuyInt">Dolor muy intenso</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="dolorGangrena" id="dolorGangrena_DolorInsp" value="1">
                <label for="dolorGangrena_DolorInsp">Dolor insoportable</label>
            </div>

        </div>



        <div class="question-container">
            <p>14. ¿Presentas granos con sebo?</p>
            
            <div class="radio-option">
                <input type="radio" name="granosSebo" id="granosSeboNada" value="0">
                <label for="granosSeboNada">Nada</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="granosSebo" id="granosSeboAlgo" value="0.25">
                <label for="granosSeboAlgo">Algo</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="granosSebo" id="granosSeboPoco" value="0.5">
                <label for="granosSeboPoco">Poco</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="granosSebo" id="granosSeboBastante" value="0.75">
                <label for="granosSeboBastante">Bastante</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="granosSebo" id="granosSeboMucho" value="1">
                <label for="granosSeboMucho">Mucho</label>
            </div>

        </div>



        <div class="question-container">
            <p>15. ¿Presentas ronchas?</p>
            
            <div class="radio-option">
                <input type="radio" name="ronchas" id="ronchasNada" value="0">
                <label for="ronchasNada">Nada</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="ronchas" id="ronchasAlgo" value="0.25">
                <label for="ronchasAlgo">Algo</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="ronchas" id="ronchasPoco" value="0.5">
                <label for="ronchasPoco">Poco</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="ronchas" id="ronchasBastante" value="0.75">
                <label for="ronchasBastante">Bastante</label>
            </div>

            <div class="radio-option">
                <input type="radio" name="ronchas" id="ronchasMucho" value="1">
                <label for="ronchasMucho">Mucho</label>
            </div>

        </div>


        <div class="separator"></div>

        <input type="submit" value="Diagnosticar" id="submit-general">

    </form>

    <footer></footer>
</body>
</html>