<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;800;900&family=Ubuntu:wght@300;500;700&display=swap" rel="stylesheet">
<title>Diagnóstico</title>
</head>
<body>
    
    <div class="navbar" id="navbar-despecifico">
        <a href="index.html">
            <div class="navbar-option"><b>Inicio</b></div>
        </a>
        <a href="dgeneral.html">
            <div class="navbar-option"><b>Diagnóstico General</b></div>
        </a>
        <a href="">
            <div class="navbar-option"><b>Diagnóstico Específico
                
            </b></div>
        </a>
        <a href="">
            <div class="navbar-option"><b>Módulo Precargado</b></div>
        </a>
    </div>
    <h1 id="nombreEnfermedad">Nombre de la Enfermedad</h1>

    <div class="info-container">
        <h2 id="descripcionEnfermedad">Descripción</h2>
        <p id="infoDescripcion" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h2 id="origenEnfermedad">Origen/Causas</h2>
        <p id="infoOrigen" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        
        <h2 id="recomendEnfermedad">Recomendaciones/Tratamiento</h2>
        <p id="infoRecomend">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        
    </div>

    <div class="container-bottom">

        <button id="backIndex">Volver al Inicio</button>
    
    </div>
    <footer></footer>
</body>
</html>